*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,
#root {
  height: 100%;
  width: 100%;
}
html{
  background-color: rgb(7, 7, 7);
  color: wheat;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #494942;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(249, 231, 231);
}